body {
	font-family: 'Questrial', sans-serif;
	margin: 0;
	line-height: 1.5;
	background-color: #fdfdfd;
}

* {
	box-sizing: border-box;
}

.outline {
	outline: 1px solid red;

}

.jumbotron {
	/* background-image: linear-gradient(rgba(0, 49, 112, 0.829), rgba(43, 160, 255, 0.5)), url('./img/hero2.jpg'); */
	background-image: url('./img/hero2.jpg');
	width: 100%;
	padding: 50px;
	padding-bottom: 15%;
	max-width: 100vw;
}



.jumbotron-content {
	color: white;
	padding-left: 30px;
	padding-top: 10%;
	font-size: 18px;
	z-index: 999;
}

.jumbotron h1 {
	margin: 0;
	font-size: 64px;
	letter-spacing: 3px;
	font-family: 'Anton', sans-serif;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.jumbotron p {
	font-size: 20px;
	color: #fff;
}

.meni {
	z-index: 990;
	position: absolute;
	top: 0;
	right: 50px;

}

.meni ul {
	list-style-type: none;
}

.meni li {
	display: inline-block;
}

.meni a {
	font-size: 18px;
	color: white;
	padding: 5px 15px;
	border-radius: 10px;
	text-decoration: none;
}

.meni a:hover {
	transition: 0.5s;
	text-decoration: underline;
}

.container {
	padding: 20px;

}

.usluge {
	display: flex;
	justify-content: center;
}

.usluga {
	border-radius: 5px;
	/* box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07); */
	padding: 10px;
	margin: 5px;
	max-width: 30%;
	transition: 0.6s;
}

.usluga:hover {
	box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
	background-color: #fff;
}

.usluga img {
	display: block;
	margin: 0 auto;
}

.usluga h1 {
	text-align: center;
}

.projekat {
	/* background-color: white; */
	padding: 10px 20px;
	margin: 10px;
	/* box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07); */
	border-radius: 5px;
}

.projekat {
	display: flex;
	justify-content: space-between;
	transition: 0.6s;
	cursor: pointer;
	padding: 20px;
}

.flex-reverse {
	flex-direction: row-reverse;
}

.projekat:hover {
	box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

.projekat>div {
	padding: 0 20px;
}

.projekat a {
	float: right;
}

.flex-reverse a {
	float: none;
}



.clanovi {
	display: flex;
	justify-content: space-around;
}

.clan {
	background-color: white;
	box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
	border-radius: 12px;
	cursor: pointer;
	transition: 0.6s;
}

.clan img {
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
}

.clan span {
	display: inline;
	color: #4d4d4d;
}


h1 {
	margin-bottom: 5px;
}

.clan:hover {
	box-shadow: 0 20px 35px rgba(50, 50, 93, .2), 0 8px 15px rgba(0, 0, 0, .1);
}

.clan h2 {
	margin: 10px 0;
}

a.link {
	display: inline;
	text-align: right;
	color: #00adcc;
	float: right;
	transition: 0.6s;
}

a.link:hover {
	color: #00d9ff;
}


a.link:hover i {
	transition: 1s;
	animation: slide 0.3s infinite;
	animation-direction: alternate;
}

@keyframes slide {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(20%);
	}
}

.fas {
	font-size: 10px;
}

.info {
	padding: 5px 20px 20px;
}



.button {
	text-decoration: none;
	background-color: #01d2f7;
	color: white;
	padding: 7px 12px;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(118, 234, 255, 0.6);
	transition: 0.6s;
}

.button:hover {
	box-shadow: 0 7px 15px rgba(118, 234, 255, 0.6);
}

.text-faded,
p {
	color: #4d4d4d
}


hr {
	border-color: black;
	border-width: 2px;
	width: 15%;

}

.projekat img {
	border-radius: 12px;
	max-height: 100%;
}



@media only screen and (max-width: 768px) {
	.jumbotron {
		background-size: cover;
	}

	.usluge,
	.clanovi {
		flex-direction: column;
	}

	.usluge img {
		max-width: 100%;
	}

	.clan img {
		width: 100%;
	}

	.clan {
		margin: 10px;
	}

	.projekat>div {
		flex-direction: column;
	}

	.projekat img {
		max-width: 100%;
	}

	.usluga {
		max-width: 100%;
	}
}